<a href="https://colab.research.google.com/github/VaibhavJain05/Machine-Learning-Vaibhav-Jain/blob/main/kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
p1="/content/drive/MyDrive/Logistic Regression/emnist-letters-train.csv"
p2="/content/drive/MyDrive/Logistic Regression/emnist-letters-test.csv"

In [ ]:
train_set= pd.read_csv(p1, header=None)
test_set= pd.read_csv(p2, header=None)

In [ ]:
train_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14799,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train = train_set.to_numpy() #converting datasets from csv to numpy arrays
test = test_set.to_numpy()

In [ ]:
X_train=(train[:,1:])/255
xt=(test[:,1:])/255

In [ ]:
m=X_train.shape[0]
mt=xt.shape[0]

In [ ]:
y=train[:,0]
yt=test[:,0]

In [ ]:
B = xt[np.random.choice(xt.shape[0], size=26, replace=False), :]
B.shape

(26, 784)

In [ ]:
G=np.zeros((mt,1))

In [ ]:
for i in range(mt):
 Dis= np.sqrt(np.sum((B-xt[i])**2, axis=1))
 idx=np.argmin(Dis)
 G[i] =idx+1

In [ ]:
G

In [ ]:
centroid=[]
for k in range(1,27):
    cluster_xyz=xt[G==k]
    avg=np.mean(cluster_xyz,axis=0)
    centroid.append(avg)
n_centroid=np.array(centroid)

In [ ]:
for l in range(100):
    ans = np.zeros((mt,1))
    for mt in range(mt):
        distance_sho = np.sqrt(np.sum(((centroid - xt[mt])**2), axis = 0))
        index_sho = np.argmin(distance_sho)
        index_sho=int(index_sho)
        ans[mt]=((index_sho + 1))
        
    ans= np.array(ans)
#     print((answ))
    n_centroid_sho=np.zeros((26,784))
    for n in range(1,27):
        v=ans=n
    
        cluster_xyz_sho=xt[v]
        avg_cluster_sho=np.mean(cluster_xyz_sho,axis=0)
        n_centroid_sho[n-1]=(avg_cluster_sho)
#         n_centroid_sho=np.array(n_centroid_sho)

In [ ]:
ans = []
for h in range(mt):
  Dist= np.sqrt(np.sum((n_centroid_sho-xt[i])**2, axis=1))
  idxt=np.argmin(Dist)
  ans.append(idxt + 1)

In [ ]:
ans