<a href="https://colab.research.google.com/github/VaibhavJain05/Machine-Learning-Vaibhav-Jain/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np   
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
p1="/content/drive/MyDrive/Logistic Regression/emnist-letters-train.csv"
p2="/content/drive/MyDrive/Logistic Regression/emnist-letters-test.csv"

In [4]:
train_set= pd.read_csv(p1,header= None)
test_set= pd.read_csv(p2,header=None)

In [5]:
train_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14799,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train = train_set.to_numpy() #converting datasets from csv to numpy arrays
test = test_set.to_numpy()

In [8]:
x= (train[:,1:])/255  #slicing and scaling the datasets
xt= (test[:,1:])/255
xt

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [9]:
y=train[:,0]
yt=test[:,0]

In [10]:
m= len(y)  #range of trainsets
mt = 100   #range of testsets

In [11]:
def dist():  #defining a function for euclidian distance
  w=[]
  for i in range(mt):
    for j in range(m):
      diff=xt[i,:]-x[j,:]
      dis=np.sqrt(np.sum(np.square(diff)))
      w.append((i,dis,j))
  return w 
s=sorted(dist())  #arranging the distances according to ascending order
k=9
g=[]
for i in range(mt):  #getting first k nearest neighbours
  neighbours=s[(m*i):((m*i)+k)]
  g.append(neighbours)
G=np.vstack(g) 
f=G.astype(int)  #converting all type float datasets to type int 
b=[]
z=[]
for i in f[:,2]:
  b.append(y[i])  
for i in range(mt):
  res=max(b[k*i:k*(i+1)],key=b[k*i:k*(i+1)].count)  #getting maximum count of probable label
  z.append(res)
z_arr=np.array(z)
y_p=z_arr.reshape(mt,1)
y_s=yt[:mt].reshape(mt,1)
diff=y_p-y_s
q=0
for i in range(mt):
  if diff[i]==0:
    q+=1
acc=(q/mt)*100 #accuracy percentage of model
acc

87.0