<a href="https://colab.research.google.com/github/VaibhavJain05/Machine-Learning-Vaibhav-Jain/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np   
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
p1="/content/drive/MyDrive/Logistic Regression/emnist-letters-train.csv"
p2="/content/drive/MyDrive/Logistic Regression/emnist-letters-test.csv"

In [6]:
train_set= pd.read_csv(p1,header= None)
test_set= pd.read_csv(p2,header=None)

In [7]:
train_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
test_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14799,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
train = train_set.to_numpy() #converting datasets from csv to numpy arrays
test = test_set.to_numpy()

In [10]:
x= (train[:,1:])/255
xt= (test[:,1:])/255
xt

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [11]:
y=train[:,0]
yt=test[:,0]

In [20]:
def dist():  
  w=[]
  for i in range(1000):
    for j in range(1000):
      diff=xt[i,:]-x[j,:]
      dis=np.sqrt(np.sum(np.square(diff)))
      w.append((i,dis,j))
  return w 
s=sorted(dist())
k=9
g=[]
for i in range(1000):
  neighbours=s[(1000*i):((1000*i)+k)]
  g.append(neighbours)
G=np.vstack(g) 
f=G.astype(int)
m=[]
z=[]
for i in f[:,2]:
  m.append(y[i])  
for i in range(1000):
  res=max(m[k*i:k*(i+1)],key=m[k*i:k*(i+1)].count)
  z.append(res)
z_arr=np.array(z)
z_arr.reshape(1000,1)
y_s=yt[:1000]
y_p=y_s.reshape(1000,1)
diff=z_arr-y_s
q=0
for i in range(1000):
  if diff[i]==0:
    q+=1
acc=(q/1000)*100
acc

30.9