<a href="https://colab.research.google.com/github/VaibhavJain05/Machine-Learning-Vaibhav-Jain/blob/main/neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
p1="/content/drive/MyDrive/Logistic Regression/emnist-letters-train.csv"
p2="/content/drive/MyDrive/Logistic Regression/emnist-letters-test.csv"

In [4]:
train_set= pd.read_csv(p1,header= None)
test_set= pd.read_csv(p2,header=None)

In [5]:
train_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_set

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14799,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train = train_set.to_numpy() #converting datasets from csv to numpy arrays
test = test_set.to_numpy()

In [8]:
x=(train[:,1:])/255
xt=(test[:,1:])/255

In [9]:
m=x.shape[0]
mt=xt.shape[0]

In [10]:
y=train[:,0]
yt=test[:,0]

In [11]:
#applying one vs all 

def one_vs_all(m,y):
  Z= np.zeros((m,26))
  for i in range(m):  
    Z[i][y[i]-1] = 1
    i+=1
  return Z
yp = one_vs_all(m,y)  
ypt=one_vs_all(mt,yt)

In [12]:
def sigm_(a):   #sigmoid function
  return 1/(1+np.exp(-a))

In [13]:
def sigm_derv(a):   #derivative of sigmoid function
  return a*(1-a)

In [14]:
def nn(x,iterations,alpha,m,c):  
  
  #paramaters
  theta1=np.random.randn(26, x.shape[1])*0.004    #taking parameters of range(-0.5,0.5)
  bias1=np.random.randn(26,1)*0.004
  theta2=np.random.randn(100,26)*0.004
  bias2=np.random.randn(100,1)*0.004
  theta3=np.random.randn(26,100)*0.004
  bias3=np.random.randn(26,1)*0.004
 


  for i in range(iterations):
    #forward propagation
    Z2 = theta1@(x.T) + bias1
    A2 = sigm_(Z2)
    Z3 = theta2@(A2) + bias2
    A3 = sigm_(Z3)
    Z4 = theta3@(A3) + bias3
    h_x = sigm_(Z4)
    
    #back propagation
    dZ4 = h_x - c.T
    dtheta3 = dZ4@(A3.T)
    dbias3 = np.sum(dZ4)
    dZ3 = (theta3.T@(Z4))*(sigm_derv(A3))
    dtheta2 = dZ3@(A2.T)
    dbias2  = np.sum(dZ3)
    dZ2 = theta2.T@(Z3)*(sigm_derv(A2))
    dtheta1 = dZ2@(x)
    dbias1 = np.sum(dZ2)
 

    #updating parameters
    theta1 -= (alpha/m)*(dtheta1)
    bias1 -= (alpha/m)*(dbias1)    
    theta2 -= (alpha/m)*(dtheta2)  
    bias2 -= (alpha/m)*(dbias2)  
    theta3 -= (alpha/m)*(dtheta3)
    bias3 -= (alpha/m)*(dbias3)
    
    
    cost=(-1/m)*(np.sum(c.T*(np.log(h_x)) + (1-c.T)*(np.log(1-h_x))))  #cost function of logistic function
    if i%10==0:
      print(cost)
  return theta1,bias1,theta2,bias2,theta3,bias3

In [15]:
q1,b1,q2,b2,q3,b3= nn(x,110,0.06,m,yp)

17.943951374687348
4.786360268819214
4.336506677647742
4.262573597207528
4.2452654616802015
4.24058163719486
4.239220677293115
4.238809140309806
4.238681399569784
4.238640899698731
4.238627781011979

In [16]:
#forward propagation on test
Z2 = q1@(xt.T) + b1
A2 = sigm_(Z2)
Z3 = q2@(A2) + b2
A3 = sigm_(Z3)
Z4 = q3@(A3) + b3
y_pred= sigm_(Z4)

In [17]:
y_pred

array([[0.03831199, 0.03831199, 0.038312  , ..., 0.03831199, 0.03831199,
        0.03831199],
       [0.03861035, 0.03861035, 0.03861036, ..., 0.03861035, 0.03861035,
        0.03861035],
       [0.03846425, 0.03846425, 0.03846426, ..., 0.03846425, 0.03846425,
        0.03846425],
       ...,
       [0.03857805, 0.03857805, 0.03857806, ..., 0.03857805, 0.03857806,
        0.03857806],
       [0.03866769, 0.03866769, 0.0386677 , ..., 0.03866769, 0.03866769,
        0.03866769],
       [0.03855874, 0.03855874, 0.03855875, ..., 0.03855873, 0.03855874,
        0.03855874]])

In [18]:
Y_P=y_pred.T

In [19]:
max_value= Y_P.max(axis=1)  #appyling one vs all
for i in range(mt):
  for j in range(26):
    if Y_P[i][j]== max_value[i] :
      Y_P[i][j]=1
    else :
      Y_P[i][j]=0
print(Y_P)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [20]:
w = np.empty_like(yt)  #converting binary classification to datasets
for i in range(mt):
  for j in range(26):
    if Y_P[i][j]==1:
      w[i]= j+1
print(w)

[4 4 4 ... 4 4 4]

In [22]:
d= w-yt  #difference

g=0     #calculating accuracy of model
for i in range(mt):
  if d[i]==0:
    g+=1
acc=(g/mt)*100
acc

5.405405405405405